body {
    background-image: url('./resources/dusk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


  h1 {
    color: white;
    text-align: center;
    font-family:  "Courier New", monospace;
    font-size: 90px;
  }

  h2 {
    color: white;
    text-align: center;
    font-family:  "Courier New", monospace;
    font-size: 50px;
  }
  
  .dropdown {
    
    color: white;
    text-align: center;
    font-family:  "Courier New", monospace;
    font-size: 50px;
  }
  
  .dropdown-content {
    display:none;
    color: black;
    position: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }